.logout__M {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: $moal_bg;
    z-index: 1000;
    display: none;

    .Logout_main_field {
        width: 100%;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;

        .content {
            width: 500px;
            padding: 35px;
            border-radius: 10px;
            background-color: #2F374F;

            p {
                text-align: center;
                color: #fff;
                font-size: 1.6rem;
                margin-bottom: 31px;
            }

            .D_btn_group {
                display: flex;

                button {
                    width: 100%;
                    border-radius: 50px;
                    border: 0px;
                    padding: 10px 0px;
                    color: white;
                    background-color: $mc;
                    font-size: 1rem;
                    cursor: pointer;
                }

                a {
                    margin-right: 10px;
                    background-color: #ff0052;
                    width: 100%;
                    border-radius: 50px;
                    border: 0px;
                    padding: 10px 0px;
                    color: white;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    text-decoration: none;
                    font-size: 1rem;
                    cursor: pointer;
                }
            }
        }
    }
}