.table{
    width: 100%;
    margin-top: 30px;
    font-size: 0.9rem;
    letter-spacing: 1px;
    text-align: center;
    border-collapse: collapse;

    thead{
        tr{
            border-bottom: 1px solid #646e8d78;

            th{
                color: #F2F2F2;
                font-weight: normal;
                padding: 12px 0px;
            }
        }
    }

    tbody{
        tr{
            border-bottom: 1px solid #646e8d78;

            &:last-child{
                border-bottom: none;
            }

            td{
                padding: 15px 0px;
                color: #F2F2F2;
                font-size: 0.85rem;
                font-family: $lf ;
            }

            .Negative{
                color: $R_color;
            }

            .Positive{
                color: $G_color;
            }
        }
    }
}

.empty_table{
    width: 100%;
    padding: 24px;
    border-radius: 5px;
    background-color: #3d465e;
    text-align: center;
    color: #dfdfdf;
    margin-top: 50px;
}