
$warning_color:#B95000;
$warning_bg:#FEF5EB;
$warning_border:#f1bf98;

$danger_color:#b90000;
$danger_bg:#feebeb;
$danger_border:#f19898;

$success_color:#0fb900;
$success_bg:#ebfeec;
$success_border:#98f19d;

$mc :#09c6c2;
$mch : #08a8a6;


$tf : thin_font;
$lf : light_font;
$nf : normal_font;
$bf : bold_font;
$pf : persian_font;