@import '../partials/variable';
@import '../partials/mixin';
@import '../partials/error';
@import '../partials/table';
@import '../partials/checkbox';

.main_field {
    width: 85%;
    margin-left: 15%;
    display: flex;
    justify-content: center;
    padding: 20px 30px;

    .add_expensses_field {
        width: 500px;
        height: max-content;
        padding: 25px;
        background-color: #2F374F;
        border-radius: 5px;
        margin-right: 30px;
        box-shadow: 0 0 10px 0 rgb(4 2 2 / 20%);

        form {
            margin-top: 30px;

            .optional_text {
                color: $mc;
                font-size: 0.7rem;
            }

            .chose__data {
                display: flex;
                align-items: center;
                color: rgb(170, 170, 170);

                div {
                    width: 100%;
                    margin: 0px 8px;

                    &:first-child {
                        margin-right: 8px;
                        margin-left: 0px;
                    }

                    &:last-child {
                        margin-left: 8px;
                        margin-right: 0px;
                    }
                }
            }

            .chose__time {
                display: flex;
                align-items: center;
                color: rgb(170, 170, 170);

                div {
                    width: 100%;
                    margin: 0px 8px;

                    &:first-child {
                        margin-right: 8px;
                        margin-left: 0px;
                    }

                    &:last-child {
                        margin-left: 8px;
                        margin-right: 0px;
                    }
                }
            }

            .checkbox_field {
                display: flex;
                align-items: center;
                margin-bottom: 15px;

                div {
                    &:first-child {
                        margin-right: 20px;
                    }
                }

            }

            .Sub__info {
                width: 100%;
                border-radius: 24px;
                border: 0px;
                color: #fff;
                padding: 13px 0px;
                font-size: 1rem;
                letter-spacing: 0.6px;
                margin-top: 8px;
            }
        }
    }

    .expenses_table {
        width: 100%;
        height: max-content;
        padding: 25px;
        background-color: #2F374F;
        border-radius: 5px;
        box-shadow: 0 0 10px 0 rgb(4 2 2 / 20%);
    }
}

.text_limited.TLW_150 {
    max-width: 150px;
    margin: auto;
}

.table {
    tbody {
        tr {
            td {
                &:nth-child(2) {
                    width: 170px;

                    div {
                        font-family: $lf !important;
                    }
                }

                &:nth-child(3) {
                    width: 170px;
                    font-family: $nf !important;
                }

                .option_group {
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    button {
                        width: 30px;
                        height: 30px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        background-color: #3E4762;
                        border: 0;
                        border-radius: 2px;
                        cursor: pointer;

                        &:hover {
                            background: #697495;
                        }

                        &:nth-child(2) {
                            margin: 0px 5px;
                        }

                        i {
                            color: rgb(255, 255, 255);
                            font-size: 0.9rem;
                        }
                    }
                }
            }
        }
    }
}

.CB__no__label span:first-child:before {
    width: 10px !important;
    height: 10px !important;
    position: relative;
    left: -5px;
    top: 2px;
}

.inp-cbx:checked+.CB__no__label span:first-child:before {
    transform: scale(5.5);
}

.MIM {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.596);
    display: none;

    .modal_main_field {
        width: 100%;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;

        .content {
            width: 500px;
            padding: 35px;
            border-radius: 10px;
            background-color: #2F374F;

            hr{
                border: 0;
                border-bottom: 1px solid #3f465a;
                margin-top: 11px;
            }

            .detail_field {
                width: 100%;
                display: flex;
                flex-direction: column;

                .DF_box {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    margin-top: 20px;

                    .title {
                        color: #7f8fbc;
                        font-size: 0.9rem;
                        letter-spacing: 1px;
                    }

                    .info {
                        color: rgb(209, 209, 209);
                        font-size: 1rem;
                        margin-top: 5px;
                        line-height: 23px;
                        word-break: break-word !important;
                        word-wrap: break-word !important
                    }

                }
            }

            .close_MIM_modal{
                width: 100%;
                border-radius: 50px;
                background-color: $mc;
                color: white;
                border: 0px;
                padding: 10px 0px;
                margin-top: 30px;
                font-size: 1.1rem;
                cursor: pointer;

                &:hover{
                    background-color: $mch;
                }
            }
        }
    }
}